* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.conteiner-fluid {
   max-width: 100%;
}

.container {
   width: 100%;
   max-width: 1080px;
   margin: 0 auto;
}

/******** ROW RULES  *********/

.row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

/*********** COL RULES  **********/

.col {
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
}

.col-1 {
   width: calc(100% / 12);
   max-width: calc(100% / 12);
}