* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px auto 20px;
}

.row {
  text-align: center;
  line-height: 50px;
}

.row > [class^="col"] {
  color: white;
  height: 50px;
  border: 1px solid white;
  
}
[class^="col"]{
   background-color: dodgerblue;
}

[class^="nested"] {
  background-color: forestgreen;
  color: white;
}

.row.nested {
  padding: 10px 20px;
  background-color: dodgerblue;
}
.nested-1 {
  background-color: green;
}
