* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
}

.row {
  text-align: center;
  line-height: 50px;
}

.row > [class^="col"] {
  color: white;
  height: 50px;
  border: 1px solid white;
  background-color: dodgerblue;
}

[class^="nested"] {
  background-color: forestgreen;
  color: white;
}

.nested {
  height: auto;
  background-color: green;
}
